priority 1
snippet defcontroller
defmodule ${1:`substitute(vim_snippets#Filename(), '\(_\|^\)\(.\)', '\u\2', 'g')`} do
  use $2.Web, :controller

  $3
end
endsnippet
snippet def
def $1($2) do
  $0
end
endsnippet
snippet def:
def $1($2), do: $0
endsnippet
snippet defp
defp $1($2) do
  $0
end
endsnippet
snippet defp:
defp $1($2), do: $0
endsnippet
snippet deftest
test "$1: $2" do
  $0
end
endsnippet
