priority 1
snippet defmodule
defmodule $1 do
  $2
end
endsnippet
snippet defcontroller
defmodule $1 do
  use $2.Web, :controller

  $3
end
endsnippet
snippet def
def $1($2) do
  $0
end
endsnippet
snippet defi
def $1($2), do: $0
endsnippet
snippet defp
defp $1($2) do
  $0
end
endsnippet
snippet defpi
defp $1($2), do: $0
endsnippet
snippet deftest
test "$1: $2" do
  $0
end
endsnippet
